.benefits{
    background-color: #F7F7F7;
    padding-top: 3.3em;
    padding-bottom: 7.3em;
    &__box{
        background-color: #FFFFFF;
        border: 0.0625rem solid #E8E9ED;
        border-radius: 0.3125rem;
        width: 90%;
        margin: 0 auto 3em auto;
        max-height: 23em;
        &__image-container{
            position: relative;
            text-align: center;
            &__image{
                position: absolute;
                left: 50%;  
                &--laptop{
                    top: 2.5em;
                    transform: translateX(-50%);
                }
                &--phone{
                    top: 1.2em;
                    transform: translateX(-37%);
                }
                &--trumpet{
                    top: 5vh;
                    transform: translateX(-60%);
                }
            }
            &__bg{
                &--red-mobile{
                    padding: 1em 0 0 7em;
                }
                &--red-desktop{
                    display: none;
                }  
                &--blue{
                    padding-top: .8em;
                } 
                &--green{
                    width: 100%;
                    max-height: 20em;
                }
            }
        }
        &__text-container{
            padding: 0 1em 2em 1em;
            &__title{
                font-family: "Raleway", sans-serif;
                font-weight: 400;
                font-size: 2rem;
                line-height: 2.1875rem;
                padding-right: 1em;
                padding-top: 1em;
                &--be-always-first{
                    margin-top: 2em;
                    margin-bottom: 1em;
                }
                &--your-shop{
                    margin-bottom: .4em;
                }
            }
            &__subtitle{
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                font-size: 0.875rem;
                line-height: 1.3125rem;
                &--increase{
                    margin-top: 1.5em;
                    font-size: 1rem;
                    line-height: 1.3125rem;
                }
            }
            &__line{
                display: none;
            }
        }
    }
    @media only screen and (min-width: 1000px) {
        padding-bottom: .8em;
        &__box{
            max-width: none;
            margin: 0 auto;
            margin-bottom: 3.1em;
            &--increase{
                background-color: transparent;
                border: none;
                display: flex;
            }
            &__image-container{
                &--increase{
                    margin: 0;
                    width: 40%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                }
                &__image{
                    left: auto;
                    transform: none;
                    &--laptop{
                        top: 10em;
                        right: 5em;
                        width: 30%;
                        max-width: 23em;
                    }
                    &--phone{
                        bottom: -13.5em;
                        left: 3.5em;
                        width: 24%;
                        max-width: 24em;
                    }
                    &--trumpet{
                        top: 50%;
                        left: 50%;
                        transform: translate(calc(-50% + 1em), calc(-50% + 2em));
                        width: 80%;
                        max-width: 23em;
                    }
                }
                &__bg{
                    top: auto;
                    left: auto;
                    transform: none;
                    &--red-mobile{
                        display: none;
                    } 
                    &--red-desktop{
                        display: block;
                        bottom: -12.5em;
                        right: 3.5em;
                        width: 20%;
                        max-width: 16em;
                    } 
                    &--blue{
                        bottom: -13.5em;
                        left: 3.5em;
                        width: 20%;
                        max-width: 19em;
                    } 
                    &--green{
                        margin: 0;
                        width: 90%;
                        height: 100%;                    
                        position: relative;
                    }
                }
            }
            &__text-container{
                position: relative;
                &--your-shop{
                    position: absolute;
                    right: 10em;
                }
                &--increase{
                    padding-top: 2.5em;
                    margin: 0;
                    width: 60%;
                    height: 100%;
                    background-color: #FFFFFF;
                    border: 0.0625rem solid #E8E9ED;
                    border-radius: 0.3125rem;
                }
                &__title{
                    margin-top: -.5em;
                    max-width: 7em;
                    &--increase{
                        padding-top: .7em;
                        margin-top: 0;
                        max-width: 10em;
                    }
                }
                &__subtitle{
                    width: 70%;
                    max-width: 26em;
                    &--be-always-first{
                        margin-top: 2em;
                    }
                    &--your-shop{
                        width: 100%;
                    }
                    &--increase{
                        margin: .7em 1.2em;
                        padding-top: .7em;
                        font-size: 1rem;
                        line-height: 1.3125rem;
                    }
                }
                &__line{
                    width: 40%;
                    max-width: 18em;
                    display: block;
                    margin: 0 0 4em 1.3em;
                    &--your-shop{
                        width: 100%;
                    }
                    &--increase{
                        padding-top: 1em;
                        width: 100%;
                    }
                }
            }
        }
    }
}