.benefits{
    background-color: #F7F7F7;
    padding-top: 3.3em;
    padding-bottom: 7.3em;
    &__box{
        background-color: #FFFFFF;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        max-width: 19.6em;
        margin: 0 auto;
        margin-bottom: 3.1em;
        &__image-container{
            margin-top: 6em;
            position: relative;
            &__image{
                display: inline-block;
                z-index: 10;
                &--labtop{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-50% - .5em), -50%);
                }
                &--phone{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-50% + 1.6em), calc(-50% - .6em));
                }
                &--trumpet{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-50% - 1.2em), calc(-50% + 3.3em));
                }
            }
            &__bg{
                display: inline-block;
                &--red{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(calc(-50% + 3em), calc(-50% - 1.8em));
                } 
                &--blue{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% - 1.1em));
                } 
                &--green{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, calc(-50% + 1.1em));
                }
            }
        }
    }
    &__title{
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 35.22px;
        &--be-always-first{
            margin: .6em;
            margin-top: 5.6em;
        }
        &--your-shop{
            margin: .6em;
            margin-top: 5.6em;
        }
        &--increase{
            margin: .6em;
            margin-top: 1em;
        }
    }
    &__subtitle{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        &--be-always-first{
            margin: 1.6em;
            margin-top: 3em;
            padding-bottom: .6em;
        }
        &--your-shop{
            margin: 1.6em;
            margin-top: .7em;
            padding-bottom: .5em;
        }
        &--increase{
            margin: .7em 1.2em;
            font-size: 16px;
            line-height: 21.79px;
        }
    }
}