.header{
    margin: 0 auto;
    &__nav{
        box-shadow: #0000004A 0px 3px 6px 0px ;
        position: relative;
        &__title{
            font-family: "Raleway", sans-serif;
            font-weight: 300;
            font-size: 2rem;
            line-height: 2.3rem;
            color: #08A6E4;
            padding: .5em .8em;
        }
        &__dropdown{
            position: absolute;
            top: 1.7em;
            right: 1.8em;
            color: #08A6E4;
        }
        &__list{
            display: none;
        }  
    }
    &__sell-more{
        margin: 6.2em 1em 0 1em;
        text-align: center;
        position: relative;
        &__title{
            font-family: "Raleway", sans-serif;
            font-weight: 400;
            font-size: 2.2rem;
            line-height: 2.5rem;
            color: #000000;
        }
        &__description{
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.4rem;
            margin: 1.5em;
        }
        &__button{
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 1rem;
            line-height: 1.4rem;
            background-color: #08A6E4;
            box-shadow: #07ACE64A 5px 10px 14px 0px;
            border-radius: 2.8rem;
            border: none;
            color: white;
            margin-top: 1em;
            padding: 1.3em 5.4em;
        }
    }
    &__image-container{
        position: relative;
        padding-top: 23em;
        &__laptop-image{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &--dekstop{
                display: none;
            }
        }
    }
    @media only screen and (min-width: 1000px) {
        &__nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__title{
                display: inline-flex;
            }
            &__dropdown{
                display: none;
            }
            &__list{
                list-style: none;
                margin-right: 5em;
                display: flex;
                gap: 6em; 
                &__item{
                    padding: 2.3em .5em;             
                    font-family: "Open Sans", sans-serif;
                    font-weight: 700;
                    font-size: 0.7rem;
                    line-height: 0.9rem;
                    letter-spacing: 0.2rem;
                    color: #A5A5A5;
                    &--selected{
                        color: #000000;
                        border-bottom: 4px solid #08A6E4;
                    }
                }
                
            }
        }
        &__sell-more{
            &__title{
                font-size: 3rem;
                line-height: 3.5rem;
            }
            &__description{
                line-height: 1.4rem;
                margin: 1.5em;
            }
            &__button{
                padding: 1.3em 10em;
                margin-bottom: 5.5em;
            }
        }
        &__image-container{
            margin-bottom: 9em;
            &__laptop-image{
                &--mobile{
                    display: none;
                }
                &--dekstop{
                    display: block;
                }
            }
        }
    }
}