.pricing{
    margin-top: 3.5em;
    background-color: #FFFFFF;
    &__title{
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 2.625rem;
        text-align: center;
    }
    &__offer{
        max-width: 18.3em;
        height: 16em;
        border: 0.0625rem solid #000000;
        border-radius: 1.125rem;
        margin: 1em auto;
        position: relative;
        margin-bottom: 4em;
        &--basic{
            border-color: #FB3B64;
        }
        &--professional{
            border-color: #07ACE6;
        }
        &--premium{
            border-color: #55DFB4;
        }
        &__left{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% - 4.6em), -50%);
            text-align: center;
            &__title{
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
            &__price{
                font-family: "Open Sans", sans-serif;
                font-weight: 300;
                font-size: 2.875rem;
                line-height: 4rem;
                &--basic{
                    color: #FB3B64;
                }
                &--professional{
                    color: #07ACE6;
                }
                &--premium{
                    color: #55DFB4;
                }
            }
            &__subtitle{
                font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 0.75rem;
                line-height: 0.875rem;
            }
        }
        &__right{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(calc(-50% + 4.3em), calc(-50% - 1.6em));
            &__container{
                word-spacing: 2px;
                margin-left: 1.5em;
                margin-top: 1.7em;
                &__check{
                    margin-top: 1.2em;
                    list-style-image: url('../img/Checkbox.png');
                }
                &__cross{
                    margin-top: 1.2em;
                    list-style-image: url('../img/Cross.png');
                }
            }
        }
        &__button{
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 0.8125rem;
            line-height: 1.0625rem;
            word-spacing: 0.125rem;
            border: none;
            border-radius: 1.4375rem;
            color: #FFFFFF;
            padding: 1.2em 4em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% + 9.8em));
            &--basic{
                background-color: #EB476E;
            }
            &--professional{
                background-color: #07ACE6;
            }
            &--premium{
                background-color: #55DFB4;
            }
        }
    }
}