* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  margin: 0 auto;
}
.header__nav {
  box-shadow: rgba(0, 0, 0, 0.2901960784) 0px 3px 6px 0px;
  position: relative;
}
.header__nav__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #08A6E4;
  padding: 0.5em 0.8em;
}
.header__nav__dropdown {
  position: absolute;
  top: 1.7em;
  right: 1.8em;
  color: #08A6E4;
}
.header__nav__list {
  display: none;
}
.header__sell-more {
  margin: 6.2em 1em 0 1em;
  text-align: center;
  position: relative;
}
.header__sell-more__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 41.09px;
  color: #000000;
}
.header__sell-more__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin: 1.5em;
}
.header__sell-more__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background-color: #08A6E4;
  box-shadow: rgba(7, 172, 230, 0.2901960784) 5px 10px 14px 0px;
  border-radius: 45px;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 1.3em 5.4em;
}
.header__image-container {
  position: relative;
  padding-top: 23em;
}
.header__image-container__laptop-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__image-container__laptop-image--dekstop {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav__title {
    display: inline-flex;
  }
  .header__nav__dropdown {
    display: none;
  }
  .header__nav__list {
    list-style: none;
    margin-right: 5em;
    display: flex;
    gap: 6em;
  }
  .header__nav__list__item {
    padding: 2.3em 0.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    color: #A5A5A5;
  }
  .header__nav__list__item--selected {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
  }
  .header__sell-more__title {
    font-size: 49px;
    line-height: 57px;
  }
  .header__sell-more__description {
    line-height: 22px;
    margin: 1.5em;
  }
  .header__sell-more__button {
    padding: 1.3em 10em;
    margin-bottom: 5.5em;
  }
  .header__image-container {
    margin-bottom: 9em;
  }
  .header__image-container__laptop-image--mobile {
    display: none;
  }
  .header__image-container__laptop-image--dekstop {
    display: block;
  }
}

.why-us {
  background-color: white;
}
.why-us__information {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  text-align: center;
  margin: 0 1.2em;
  margin-top: -1.5em;
}
.why-us__circle-icon {
  margin: 0 5em;
  text-align: center;
}
.why-us__circle-icon__image-container {
  position: relative;
}
.why-us__circle-icon__image-container__circle {
  display: inline-block;
  position: absolute;
}
.why-us__circle-icon__image-container__circle--red {
  top: 50%;
  left: calc(50% - 40px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__circle--blue {
  top: 50%;
  left: calc(50% - 32px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__circle--green {
  top: 50%;
  left: calc(50% - 32px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__icon {
  display: inline-block;
  position: absolute;
}
.why-us__circle-icon__image-container__icon--person {
  top: 50%;
  left: calc(50% - 8px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__icon--eye {
  top: 50%;
  left: calc(50% - 13px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__icon--posts {
  top: 50%;
  left: calc(50% - 2px);
  transform: translateY(-50%);
}
.why-us__circle-icon__number {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5.96px;
  color: #000000;
  padding-top: 2.3em;
  margin-top: 3em;
}
.why-us__circle-icon__principal-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #A5A5A5;
  margin: 1em 3em 3.5em 3em;
}

.benefits {
  background-color: #F7F7F7;
  padding-top: 3.3em;
  padding-bottom: 7.3em;
}
.benefits__box {
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  max-width: 19.6em;
  margin: 0 auto;
  margin-bottom: 3.1em;
}
.benefits__box__image-container {
  margin-top: 6em;
  position: relative;
}
.benefits__box__image-container__image {
  display: inline-block;
  z-index: 10;
}
.benefits__box__image-container__image--labtop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 0.5em), -50%);
}
.benefits__box__image-container__image--phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 1.6em), calc(-50% - 0.6em));
}
.benefits__box__image-container__image--trumpet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 1.2em), calc(-50% + 3.3em));
}
.benefits__box__image-container__bg {
  display: inline-block;
}
.benefits__box__image-container__bg--red {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 3em), calc(-50% - 1.8em));
}
.benefits__box__image-container__bg--blue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 1.1em));
}
.benefits__box__image-container__bg--green {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 1.1em));
}
.benefits__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.22px;
}
.benefits__title--be-always-first {
  margin: 0.6em;
  margin-top: 5.6em;
}
.benefits__title--your-shop {
  margin: 0.6em;
  margin-top: 5.6em;
}
.benefits__title--increase {
  margin: 0.6em;
  margin-top: 1em;
}
.benefits__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.benefits__subtitle--be-always-first {
  margin: 1.6em;
  margin-top: 3em;
  padding-bottom: 0.6em;
}
.benefits__subtitle--your-shop {
  margin: 1.6em;
  margin-top: 0.7em;
  padding-bottom: 0.5em;
}
.benefits__subtitle--increase {
  margin: 0.7em 1.2em;
  font-size: 16px;
  line-height: 21.79px;
}

.pricing {
  margin-top: 3.5em;
  background-color: #FFFFFF;
}
.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 42.26px;
  text-align: center;
}
.pricing__offer {
  max-width: 18.3em;
  height: 16em;
  border: 1px solid #000000;
  border-radius: 18px;
  margin: 1em auto;
  position: relative;
  margin-bottom: 4em;
}
.pricing__offer--basic {
  border-color: #FB3B64;
}
.pricing__offer--professional {
  border-color: #07ACE6;
}
.pricing__offer--premium {
  border-color: #55DFB4;
}
.pricing__offer__left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 4.6em), -50%);
  text-align: center;
}
.pricing__offer__left__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.pricing__offer__left__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 46px;
  line-height: 64px;
}
.pricing__offer__left__price--basic {
  color: #FB3B64;
}
.pricing__offer__left__price--professional {
  color: #07ACE6;
}
.pricing__offer__left__price--premium {
  color: #55DFB4;
}
.pricing__offer__left__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14.09px;
}
.pricing__offer__right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 4.3em), calc(-50% - 1.6em));
}
.pricing__offer__right__line {
  margin-top: 1.3em;
}
.pricing__offer__right__line__checkbox-cross {
  display: inline;
}
.pricing__offer__right__line__text {
  display: inline;
  word-spacing: 2px;
  margin-left: 0.3em;
}
.pricing__offer__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
  word-spacing: 2px;
  border: none;
  border-radius: 23px;
  color: #FFFFFF;
  padding: 1.2em 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 9.8em));
}
.pricing__offer__button--basic {
  background-color: #EB476E;
}
.pricing__offer__button--professional {
  background-color: #07ACE6;
}
.pricing__offer__button--premium {
  background-color: #55DFB4;
}

.contact {
  margin-top: 5.5em;
  margin-left: 2em;
}
.contact__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46.96px;
}
.contact__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0.3em;
  margin-bottom: 2em;
}
.contact__info {
  position: relative;
}
.contact__info__image {
  display: inline;
}
.contact__info__text {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #A5A5A5;
  position: absolute;
  top: 0.1em;
  left: 2.2em;
}
.contact__details {
  margin-top: 2.8em;
}
.contact__details__label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 14.98px;
  color: #08A6E4;
  letter-spacing: 3.28px;
  margin-bottom: 2em;
}
.contact__details__input {
  display: block;
  width: 23em;
  border: none;
  border-bottom: 1px solid #95989A;
  margin-bottom: 3.5em;
}
.contact__terms-conditions {
  position: relative;
  margin-bottom: 20.5em;
}
.contact__terms-conditions__checkbox {
  position: absolute;
  width: 2em;
  height: 2em;
  border: 1px #95989A solid;
  border-radius: 4px;
  accent-color: #FFFFFF;
}
.contact__terms-conditions__text {
  position: absolute;
  left: 3em;
  max-width: 23em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  color: #707070;
}
.contact__terms-conditions__button {
  position: absolute;
  bottom: -18em;
  left: 9em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 17.7px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 1.2em 6em;
  border: none;
  border-radius: 35px;
  background-color: #08A6E4;
  box-shadow: rgba(7, 172, 230, 0.2901960784) 5px 10px 14px 0px;
}

.footer {
  box-shadow: rgba(0, 0, 0, 0.2) 0px -5px 40px 0px;
  background-color: #F7F7F7;
  position: relative;
  padding-left: 1em;
}
.footer__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  word-spacing: 2px;
  color: #08A6E4;
  padding-top: 1em;
}
.footer__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 14.98px;
  word-spacing: 2px;
  color: #A5A5A5;
  padding-bottom: 1.8em;
}
.footer__twitter {
  position: absolute;
  top: 2.1em;
  right: 5em;
}
.footer__facebook {
  position: absolute;
  top: 2.1em;
  right: 2em;
}/*# sourceMappingURL=styles.css.map */