* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  margin: 0 auto;
}
.header__up {
  box-shadow: rgba(0, 0, 0, 0.2901960784) 0px 3px 6px 0px;
  position: relative;
}
.header__up__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #08A6E4;
  padding: 0.5em 0.8em;
}
.header__up__dropdown {
  position: absolute;
  top: 1.7em;
  right: 1.8em;
  color: #08A6E4;
}
.header__up__nav {
  display: none;
}
.header__sell-more {
  margin: 6.2em 1em 0 1em;
  text-align: center;
  position: relative;
}
.header__sell-more__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 41.09px;
  color: #000000;
}
.header__sell-more__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  margin: 1.5em;
}
.header__sell-more__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background-color: #08A6E4;
  box-shadow: rgba(7, 172, 230, 0.2901960784) 5px 10px 14px 0px;
  border-radius: 45px;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 1.3em 5.4em;
}
.header__image-container {
  position: relative;
  padding-top: 23em;
}
.header__image-container__labtop-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.why-us {
  background-color: white;
}
.why-us__information {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  text-align: center;
  margin: 0 1.2em;
  margin-top: -1.5em;
}
.why-us__circle-icon {
  margin: 0 5em;
  text-align: center;
}
.why-us__circle-icon__image-container {
  position: relative;
}
.why-us__circle-icon__image-container__circle {
  display: inline-block;
  position: absolute;
}
.why-us__circle-icon__image-container__circle--red {
  top: 50%;
  left: calc(50% - 40px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__circle--blue {
  top: 50%;
  left: calc(50% - 32px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__circle--green {
  top: 50%;
  left: calc(50% - 32px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__icon {
  display: inline-block;
  position: absolute;
}
.why-us__circle-icon__image-container__icon--person {
  top: 50%;
  left: calc(50% - 8px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__icon--eye {
  top: 50%;
  left: calc(50% - 13px);
  transform: translateY(-50%);
}
.why-us__circle-icon__image-container__icon--posts {
  top: 50%;
  left: calc(50% - 2px);
  transform: translateY(-50%);
}
.why-us__circle-icon__number {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5.96px;
  color: #000000;
  padding-top: 2.3em;
  margin-top: 3em;
}
.why-us__circle-icon__principal-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #A5A5A5;
  margin: 1em 3em 3.5em 3em;
}

.benefits {
  background-color: #F7F7F7;
  padding-top: 50px;
}
.benefits__box {
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  max-width: 315px;
  max-height: 370px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.benefits__box__image-container {
  margin-top: 95px;
  position: relative;
}
.benefits__box__image-container__image {
  display: inline-block;
  z-index: 10;
}
.benefits__box__image-container__image.image--labtop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 8px), -50%);
}
.benefits__box__image-container__image.image--phone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 26px), calc(-50% - 10px));
}
.benefits__box__image-container__circle {
  display: inline-block;
}
.benefits__box__image-container__circle.circle--red {
  width: 90.12px;
  height: 90.12px;
  border-radius: 41px;
  background-color: #FB3B64;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 50px), calc(-50% - 30px)) rotate(45deg);
}
.benefits__box__image-container__circle.circle--blue {
  width: 131.88px;
  height: 131.7px;
  border-radius: 50%;
  background-color: #08A6E4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 18px));
}
.benefits__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 35.22px;
}
.benefits__title.title--be-always-first {
  margin: 20px;
  margin-top: 175px;
}
.benefits__title.title--your-shop {
  margin: 20px;
  margin-top: 175px;
}
.benefits__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.benefits__subtitle.subtitle--be-always-first {
  margin: 20px;
  margin-top: 50px;
}
.benefits__subtitle.subtitle--your-shop {
  margin: 20px;
}/*# sourceMappingURL=styles.css.map */