* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.header {
  margin: 0 auto;
}
.header__nav {
  box-shadow: rgba(0, 0, 0, 0.2901960784) 0px 3px 6px 0px;
  position: relative;
}
.header__nav__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.3rem;
  color: #08A6E4;
  padding: 0.5em 0.8em;
}
.header__nav__dropdown {
  position: absolute;
  top: 1.7em;
  right: 1.8em;
  color: #08A6E4;
}
.header__nav__list {
  display: none;
}
.header__sell-more {
  margin: 6.2em 1em 0 1em;
  text-align: center;
  position: relative;
}
.header__sell-more__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: #000000;
}
.header__sell-more__description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  margin: 1.5em;
}
.header__sell-more__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  background-color: #08A6E4;
  box-shadow: rgba(7, 172, 230, 0.2901960784) 5px 10px 14px 0px;
  border-radius: 2.8rem;
  border: none;
  color: white;
  margin-top: 1em;
  padding: 1.3em 5.4em;
}
.header__image-container {
  position: relative;
  padding-top: 23em;
}
.header__image-container__laptop-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__image-container__laptop-image--desktop {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav__title {
    display: inline-flex;
  }
  .header__nav__dropdown {
    display: none;
  }
  .header__nav__list {
    list-style: none;
    margin-right: 5em;
    display: flex;
    gap: 6em;
  }
  .header__nav__list__item {
    padding: 2.3em 0.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 0.9rem;
    letter-spacing: 0.2rem;
    color: #A5A5A5;
  }
  .header__nav__list__item--selected {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
  }
  .header__sell-more__title {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header__sell-more__description {
    line-height: 1.4rem;
    margin: 1.5em;
  }
  .header__sell-more__button {
    padding: 1.3em 10em;
    margin-bottom: 5.5em;
  }
  .header__image-container {
    margin-bottom: 9em;
  }
  .header__image-container__laptop-image--mobile {
    display: none;
  }
  .header__image-container__laptop-image--desktop {
    display: block;
  }
}

.why-us {
  background-color: white;
}
.why-us__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  color: #000000;
  text-align: center;
  margin: 0 1.2em;
  margin-top: -1.5em;
}
.why-us__information {
  margin: 0 auto 0 auto;
  max-width: 14em;
  text-align: center;
}
.why-us__information__image-container {
  position: relative;
}
.why-us__information__image-container__circle {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.why-us__information__image-container__circle--red {
  left: calc(50% - 2.5em);
}
.why-us__information__image-container__circle--blue {
  left: calc(50% - 2em);
}
.why-us__information__image-container__circle--green {
  left: calc(50% - 2em);
}
.why-us__information__image-container__icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.why-us__information__image-container__icon--person {
  left: calc(50% - 0.5em);
}
.why-us__information__image-container__icon--eye {
  left: calc(50% - 0.8em);
}
.why-us__information__image-container__icon--posts {
  left: calc(50% - 0.1em);
}
.why-us__information__number {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.3125rem;
  color: #000000;
  padding-top: 2.3em;
  margin-top: 3em;
}
.why-us__information__principal-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.25rem;
  color: #A5A5A5;
  margin: 1em 3em 3.5em 3em;
}
@media only screen and (min-width: 1000px) {
  .why-us__title {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.625rem;
    margin: 0;
  }
  .why-us--information-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .why-us__information {
    margin: 8em 4em 4em 4em;
  }
}

.benefits {
  background-color: #F7F7F7;
  padding-top: 3.3em;
  padding-bottom: 7.3em;
}
.benefits__box {
  background-color: #FFFFFF;
  border: 0.0625rem solid #E8E9ED;
  border-radius: 0.3125rem;
  max-width: 19.6em;
  margin: 0 auto;
  margin-bottom: 3.1em;
}
.benefits__box__image-container {
  margin-top: 6em;
  position: relative;
}
.benefits__box__image-container__image {
  display: inline-block;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
}
.benefits__box__image-container__image--laptop {
  transform: translate(calc(-50% - 0.5em), -50%);
}
.benefits__box__image-container__image--phone {
  transform: translate(calc(-50% + 1.6em), calc(-50% - 0.6em));
}
.benefits__box__image-container__image--trumpet {
  transform: translate(calc(-50% - 1.2em), calc(-50% + 3.3em));
}
.benefits__box__image-container__bg {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
}
.benefits__box__image-container__bg--red-mobile {
  transform: translate(calc(-50% + 3em), calc(-50% - 1.8em));
}
.benefits__box__image-container__bg--red-desktop {
  display: none;
}
.benefits__box__image-container__bg--blue {
  transform: translate(-50%, calc(-50% - 1.1em));
}
.benefits__box__image-container__bg--green {
  transform: translate(-50%, calc(-50% + 1.1em));
}
.benefits__box__text-container__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.1875rem;
  margin: 0.6em;
  margin-top: 5.6em;
}
.benefits__box__text-container__title--increase {
  margin-top: 0.8em;
}
.benefits__box__text-container__subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  margin: 1.6em;
}
.benefits__box__text-container__subtitle--be-always-first {
  margin-top: 3em;
  padding-bottom: 0.6em;
}
.benefits__box__text-container__subtitle--your-shop {
  margin-top: 0.7em;
  padding-bottom: 0.5em;
}
.benefits__box__text-container__subtitle--increase {
  margin: 0.7em 1.2em;
  font-size: 1rem;
  line-height: 1.3125rem;
}
.benefits__box__text-container__line {
  display: none;
}
@media only screen and (min-width: 1000px) {
  .benefits {
    padding-bottom: 0.8em;
  }
  .benefits__box {
    max-width: none;
    height: 21.5em;
    margin: 0 10em;
    margin-bottom: 3.1em;
  }
  .benefits__box--increase {
    background-color: transparent;
    border: none;
    display: flex;
  }
  .benefits__box__image-container--increase {
    margin: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .benefits__box__image-container__image {
    top: auto;
    left: auto;
    transform: none;
  }
  .benefits__box__image-container__image--laptop {
    display: none;
    display: block;
    bottom: -13.5em;
    right: 5em;
    width: 30%;
    max-width: 23em;
  }
  .benefits__box__image-container__image--phone {
    bottom: -13.5em;
    left: 3.5em;
    width: 24%;
    max-width: 24em;
  }
  .benefits__box__image-container__image--trumpet {
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 1em), calc(-50% + 2em));
    width: 80%;
    max-width: 23em;
  }
  .benefits__box__image-container__bg {
    top: auto;
    left: auto;
    transform: none;
  }
  .benefits__box__image-container__bg--red-mobile {
    display: none;
  }
  .benefits__box__image-container__bg--red-desktop {
    display: block;
    bottom: -12.5em;
    right: 3.5em;
    width: 20%;
    max-width: 16em;
  }
  .benefits__box__image-container__bg--blue {
    bottom: -13.5em;
    left: 3.5em;
    width: 20%;
    max-width: 19em;
  }
  .benefits__box__image-container__bg--green {
    margin: 0;
    width: 90%;
    height: 100%;
    position: relative;
  }
  .benefits__box__text-container {
    position: relative;
  }
  .benefits__box__text-container--your-shop {
    position: absolute;
    right: 10em;
  }
  .benefits__box__text-container--increase {
    padding-top: 2.5em;
    margin: 0;
    width: 60%;
    height: 100%;
    background-color: #FFFFFF;
    border: 0.0625rem solid #E8E9ED;
    border-radius: 0.3125rem;
  }
  .benefits__box__text-container__title {
    margin-top: -0.5em;
    max-width: 7em;
  }
  .benefits__box__text-container__title--increase {
    padding-top: 0.7em;
    margin-top: 0;
    max-width: 10em;
  }
  .benefits__box__text-container__subtitle {
    width: 70%;
    max-width: 26em;
  }
  .benefits__box__text-container__subtitle--be-always-first {
    margin-top: 2em;
  }
  .benefits__box__text-container__subtitle--your-shop {
    width: 100%;
  }
  .benefits__box__text-container__subtitle--increase {
    margin: 0.7em 1.2em;
    padding-top: 0.7em;
    font-size: 1rem;
    line-height: 1.3125rem;
  }
  .benefits__box__text-container__line {
    width: 40%;
    max-width: 18em;
    display: block;
    margin: 0 0 4em 1.3em;
  }
  .benefits__box__text-container__line--your-shop {
    width: 100%;
  }
  .benefits__box__text-container__line--increase {
    padding-top: 1em;
    width: 100%;
  }
}

.pricing {
  margin-top: 3.5em;
  background-color: #FFFFFF;
}
.pricing__title {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
}
.pricing__offer {
  max-width: 18.3em;
  height: 16em;
  border: 0.0625rem solid #000000;
  border-radius: 1.125rem;
  margin: 1em auto;
  position: relative;
  margin-bottom: 4em;
}
.pricing__offer--basic {
  border-color: #FB3B64;
}
.pricing__offer--professional {
  border-color: #07ACE6;
}
.pricing__offer--premium {
  border-color: #55DFB4;
}
.pricing__offer__left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 4.6em), -50%);
  text-align: center;
}
.pricing__offer__left__title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.pricing__offer__left__price {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.875rem;
  line-height: 4rem;
}
.pricing__offer__left__price--basic {
  color: #FB3B64;
}
.pricing__offer__left__price--professional {
  color: #07ACE6;
}
.pricing__offer__left__price--premium {
  color: #55DFB4;
}
.pricing__offer__left__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.pricing__offer__right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 4.3em), calc(-50% - 1.6em));
}
.pricing__offer__right__container {
  word-spacing: 2px;
  margin-left: 1.5em;
  margin-top: 1.7em;
}
.pricing__offer__right__container__check {
  margin-top: 1.2em;
  list-style-image: url("../img/Checkbox.png");
}
.pricing__offer__right__container__cross {
  margin-top: 1.2em;
  list-style-image: url("../img/Cross.png");
}
.pricing__offer__button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  word-spacing: 0.125rem;
  border: none;
  border-radius: 1.4375rem;
  color: #FFFFFF;
  padding: 1.2em 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 9.8em));
}
.pricing__offer__button--basic {
  background-color: #EB476E;
}
.pricing__offer__button--professional {
  background-color: #07ACE6;
}
.pricing__offer__button--premium {
  background-color: #55DFB4;
}

.contact {
  margin-top: 5.5em;
  margin-left: 2em;
  font-weight: 400;
}
.contact__title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  line-height: 2.875rem;
}
.contact__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-top: 0.3em;
  margin-bottom: 2em;
}
.contact__info {
  position: relative;
}
.contact__info__image {
  display: inline;
}
.contact__info__text {
  display: inline;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #A5A5A5;
  position: absolute;
  top: 0.1em;
  left: 2.2em;
}
.contact__details {
  margin-top: 2.8em;
}
.contact__details__label {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  color: #08A6E4;
  letter-spacing: 0.1875rem;
  margin-bottom: 2em;
}
.contact__details__input {
  display: block;
  width: 23em;
  border: none;
  border-bottom: 0.0625rem solid #95989A;
  margin-bottom: 3.5em;
}
.contact__details__input:focus {
  outline: none;
}
.contact__terms-conditions {
  position: relative;
  margin-bottom: 20.5em;
}
.contact__terms-conditions__checkbox {
  position: absolute;
  width: 2em;
  height: 2em;
  border: 0.0625rem #95989A solid;
  border-radius: 0.25rem;
  accent-color: #FFFFFF;
}
.contact__terms-conditions__text {
  position: absolute;
  left: 3em;
  max-width: 23em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #707070;
}
.contact__terms-conditions__button {
  position: absolute;
  bottom: -18em;
  left: 9em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.0625rem;
  letter-spacing: 0.125rem;
  color: #FFFFFF;
  padding: 1.2em 6em;
  border: none;
  border-radius: 2.1875rem;
  background-color: #08A6E4;
  box-shadow: rgba(7, 172, 230, 0.2901960784) 5px 10px 14px 0px;
}

.footer {
  box-shadow: rgba(0, 0, 0, 0.2) 0px -5px 40px 0px;
  background-color: #F7F7F7;
  position: relative;
  padding-left: 1em;
}
.footer__title {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 1.875rem;
  word-spacing: 0.125rem;
  color: #08A6E4;
  padding-top: 1em;
}
.footer__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 0.875rem;
  word-spacing: 0.125rem;
  color: #A5A5A5;
  padding-bottom: 1.8em;
}
.footer__twitter {
  position: absolute;
  top: 2.1em;
  right: 5em;
}
.footer__facebook {
  position: absolute;
  top: 2.1em;
  right: 2em;
}/*# sourceMappingURL=styles.css.map */